{% extends "layout.twig" %}

{% block stylesheet %}
  {{ parent() }}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
{% endblock %}

{% block content %}

<div id="mapid"></div>

<div class="modal" id="markerModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ajouter un marqueur</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="latInput">Latitude</label>
          <input type="text" class="form-control" id="latInput">
        </div>
        <div class="form-group">
          <label for="lngInput">Longitude</label>
          <input type="text" class="form-control" id="lngInput">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}
  {{ parent() }}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
  <script type="text/javascript">
    $(document).ready(function() {
      // Chargement de la map
      var mymap = L.map('mapid').setView([48.858560644769824, 2.294481307987543], 4);
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: '{{key}}'
      }).addTo(mymap);

      // var marker = L.marker([51.5, -0.09]).addTo(mymap);
      // marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

      function onMapClick(e) {
        // L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap);
        console.log(e.latlng.lat)
        console.log(e.latlng.lng)
        $('#latInput').val(e.latlng.lat)
        $('#lngInput').val(e.latlng.lng)
        $('#markerModal').modal({
          backdrop: 'static'
        })
      }
      mymap.on('click', onMapClick);

    });
  </script>
{% endblock %}
